:root {
    --main-text-color: #fff6f1;
    --psw-rules-color: #5f5f5f;
    --submit-button-color: #ff430a;
    --main-font-size: 1.3rem;
    --form-text-color: rgb(87, 87, 87);
}

/* ----------------------- F O N T S ---------------------------------- */

@font-face {
    font-family: 'aqille';
    src: url('fonts/aqillepersonaluse-webfont.woff2') format('woff2'),
         url('fonts/aqillepersonaluse-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'spaziel_serif_roundmedium';
    src: url('fonts/spazielserifround-webfont.woff2') format('woff2'),
         url('fonts/spazielserifround-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'altone';
    src: url('fonts/altonetrial-regular-webfont.woff2') format('woff2'),
         url('fonts/altonetrial-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'altone_bold';
    src: url('fonts/altonetrial-bold-webfont.woff2') format('woff2'),
         url('fonts/altonetrial-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* -------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link, a:visited {
    color: #fd9b7e;
    text-decoration: none;
}

a:hover {
    color: #fa9b83;
    font-weight: 600;

}

body {
    display: flex;
    font-family: 'spaziel_serif_roundmedium', serif;
}

/* ----------------- C O V E R ------------------- */
.cover {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('img/bg.jpg') center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cover > :first-child {
    flex: 1;
}

.cover > :first-child > div {
    width: 100%;
    margin: 5vmin 0 0 0;
    color: white;
    text-align: center;
    font-family: 'aqille', sans-serif;
    font-size: 16vmin;
    font-weight: 100;
    text-shadow: 0px 0px 4px white;
}

.cover > :last-child {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #ffffffb7;
}

.cover > :last-child > p {
    width: 100%;
    padding: 1%;
    text-align: center;
    background-color: rgba(18, 48, 49, 0.712);
}

/* ----------------- M A I N ------------------- */

main {
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    background: linear-gradient(to bottom,  rgba(6, 22, 15, 0.920),
                                            rgba(11, 63, 43, 0.920),
                                            rgba(11, 63, 43, 0.750),
                                            rgba(11, 63, 43, 0.970),
                                            rgba(11, 63, 43, 0.920),
                                            rgba(6, 22, 15, 0.920));
    color: var(--main-text-color);
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: auto 0;
    padding: 15vh 0;
}

.main-wrapper > header p {
    padding-bottom: 1rem;
    font-weight: 900;
    font-size: var(--main-font-size);
}


.main-wrapper > *:not(form),
form > * {
    margin-left: 3%;
    margin-right: 3%;
    max-width: 600px;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem 0;
    background-color: rgb(255, 253, 253);
    box-shadow: 0.2vmin 0.4vmin 5px rgb(27, 27, 27);
    font-family: 'altone', Verdana, Geneva, Tahoma, sans-serif;
    color: var(--form-text-color);
}

fieldset {
    border: none;
    display: flex;
    flex-wrap: wrap;
}

legend {
    font-weight: 900;
    font-family: 'spaziel_serif_roundmedium', serif;
    padding: 0.75rem;
}


/* label & input */
.field {
    display: flex;
    flex-direction: column;
    padding: 0.75rem 2rem;
}

/* input and (in)valid icon */
.field > div {
    display: flex;
    gap: 0.3rem;
}

input[placeholder='optional']::placeholder {
    font-style: italic;
}

input,
input:valid {
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: 0.1rem solid #614d5456;
}

input:focus,
input:active {
    outline: 0.1rem solid #9b9ba5;
    border: 0.1rem solid transparent;
    box-shadow: 0 0 5px #8a747b;
}

.field span {
    position: relative;
}

/* show red border only AFTER typing */
input:invalid:not(:focus):not(:placeholder-shown) {
    border: 0.1rem solid transparent;
    box-shadow: 0 0 4px red;
}

/* show icon only AFTER typing */
input:invalid:not(:focus):not(:placeholder-shown) + span::before {
    content: "✖";
    color: red;
    position: absolute;
    top: 0.45rem;
}

input:valid:not(:placeholder-shown) + span::before {
    content: "✓";
    color: green;
    position: absolute;
    top: 0.45rem;
}

.psw-rules {
    color: var(--psw-rules-color);
    visibility: hidden;
    padding: 1rem 2rem;
    align-self: flex-end;
    font-family: 'spaziel_serif_roundmedium', serif;
}


.psw-rules > li {
    font-style: italic;
    line-height: 95%;
    font-size: 0.9rem;
    padding-left: 2rem;
    list-style-type:  none;
    display: flex;
}

.psw-rules > li > span {
    color: green;
    visibility: hidden;
}

button[type='submit'] {
    width: fit-content;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 0.2rem;
    font-family: 'spaziel_serif_roundmedium', serif;
    font-weight: 400;
    font-size: 1.1rem;
    background-color: var(--submit-button-color);
    color: var(--main-text-color);
    box-shadow: 0.15vmin 0.15vmin 5px rgba(27,27,27);
}

button:focus,
button:active,
button:hover {
    outline: none;
    box-shadow: 0vmin 0vmin 1px rgb(216, 76, 104),
                0 0 0.9vmin 1px #8a747b;
    font-weight: 900;
}
/*#ff5f2f; */


@media screen and (max-width: 830px) {
    body {
        flex-direction: column;
    }

    .main-wrapper{
        padding: 2rem 0;
    }

    .cover {
        height: 100vmin;
        flex: none;
    }

    .cover > :last-child {
        flex: none;
        writing-mode: vertical-lr;
        align-self: flex-end;
    }

    .cover > :last-child p {
        text-align: end;
        font-size: 0.8rem;
        padding: 0;
    }

    form {
        flex-direction: column;
    }

    fieldset {
        flex-direction: column;
    }

    .field {
        flex-direction: row;
        gap: 0.5rem;
    }

    .field > :first-child {
        flex: 1;
        text-align: end;
        align-self: center;
    }

    .field > :last-child {
        flex: 1;
    }

    .psw-rules,
    button,
    .main-wrapper p {
        align-self: center;
    }
}


@media screen and (max-width: 370px) {
    .field {
        flex-direction: column;
    }

    .field > :first-child {
        text-align: start;
        align-self: flex-start;
    }
}